---
# Only the main Sass file needs front matter (the dashes are enough)
---
/*@todo: change fonts according to size.*/
@import 'minimal-mistakes';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');
html {
  @include breakpoint($medium) {
    font-family: 'Open Sans', sans-serif;
  }

  @include breakpoint($large) {
    font-family: 'Open Sans', sans-serif;
  }

  @include breakpoint($x-large) {
    font-family: 'Open Sans', sans-serif;
  }

  a {
    text-decoration: none;
  }
  .container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}
  @media only screen and (min-width: 601px) {
    .container {
        width: 85%;
    }
}
  @media only screen and (min-width: 1201px) {
    .container {
        width: 70%;
    }
}
  .container .row {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
 }
 .item {
  padding-top:100px;
  min-height:150px;
  position:relative
  }
  .item:before,.last-item:after {
  background:#fff;
  border:8px solid #000;
  border-radius:50%;
  width:40px;
  height:40px;
  display:inline-block;
  content:"";
  margin-left:1rem;
  position:relative;
  z-index:1;
  left:calc(2% - 36px)
  }
  .vertical-line {
  width:8px;
  background-color:#000;
  position:absolute;
  left:calc(2% - 5px);
  top:0;
  bottom:0
  }
  .item .card-panel {
  margin:0;
  margin:2rem 0 0 3rem
  }
  .item-date {
  margin-top:-60px;
  margin-left:4rem
  }
  .cv-title {
  margin-bottom:0;
  margin-left:calc(2% - 5px);
  line-height:190%
  }
  .cv-title span {
  padding:1rem
  }
  .last-item{
  padding-top:80px;
  height:70px;
  position:relative
  }
}

